<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Battle Result</title>
</head>

<style>
    html {
        font-size: 14px;
    }

    body {
        background-color: darkred;
    }

    h1 {
        color: darkgreen;
    }
</style>

<body>
	<h1>Battle Result</h1>

	<h2><%- playerone %> vs <%- playertwo %></h2><br>

    WINNER is <%- winner %>, who has <%- followCount %> followers
    <hr>
    <a href="/">HOME</a>
</body>

</html>