<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Battle History</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Battle History</h1>

	<h2>List of past battles</h2>

    <%- listHistory %>

    <hr>
    <a href="/">HOME</a>
</body>

</html>