<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Battle Result</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Battle Result</h1>

	<h2><%- playerone %> vs <%- playertwo %></h2><br>

    WINNER is<br>
    <img id="winnerImage" alt="winnerImage">
    <hr>
    <a href="/">HOME</a>
</body>

</html>