<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Spotify Battles</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>SPOTIFY BATTLES</h1>

	<h2>Menu</h2>
	<ul>
		<li><a href="/battle">New Battle</a></li>
		<li><a href="/history">Battle History</a></li>
	</ul>
	<hr>
</body>

</html>
